/* color */
:root {
    --blue: #0078d7;
    --eee: #26292a;
    --text: #c0c0c0;
    --white: #ffffff;
    --black: #1a1c1d;
    --shadow: #101010;
}

/* nav  */
/* style elmaent */

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

body {
    background-color: var(--black) !important;
    color: var(--white) !important;
    font-family: "Poppins", "system-ui";
}

button {
    border: 0 !important;
}

img {
    width: 100%;
    height: 100%;
}

.title h2 {
    margin-bottom: 60px !important;
}

.title h2 {
    width: fit-content;
    color: var(--white);
    position: relative;
}

.title h2::after,
.title h2::before {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 0;
    height: 3px;
}

.title h2::before {
    width: 100%;
    background-color: var(--eee);
}

.title h2::after {
    width: 50%;
    background-color: var(--white);
}

@media (max-width: 768px) {
    .p-5 {
        padding: 3rem 1rem !important;
    }
}

/* nav */

.navbar {
    background-color: var(--eee) !important;
    box-shadow: 0 0 10px var(--shadow);
}

.navbar .navbar-brand {
    color: var(--blue);
    font-family: "Pacifico", cursive;
}

.navbar .navbar-brand:hover {
    color: var(--blue);
}

.navbar .navbar-toggler {
    color: var(--white);
}

.navbar .navbar-nav .nav-link {
    font-size: 18px;
    color: var(--white);
    transition: 0.3s;
}

.navbar .navbar-nav .nav-item .active,
.navbar .navbar-nav .nav-item:hover .nav-link {
    color: var(--blue);
}

/* home */

.home {
    min-height: calc(100vh - 68px);
}

.home h1 {
    color: var(--white);
    font-size: 50px;
}

.home p {
    color: var(--text);
}

@media (max-width: 768px) {
    .home p {
        width: 75% !important;
    }
}

@media (max-width: 430px) {
    .home h1 {
        font-size: 40px;
    }
}

.home a {
    border-width: 2px !important;
    background-color: transparent;
}

/* about */
.about .card {
    background-color: var(--eee);
}

.about .card .top .name {
    color: var(--white);
}

.about .card .top .name span {
    color: var(--text);
}

.about .card .under p {
    color: var(--text);
}

.about .card .under p span {
    color: var(--blue);
}

.about .card.tow {
    color: white;
}

.about .card.tow p {
    text-align: center;
}

@media (max-width: 768px) {
    .about .card {
        text-align: center;
    }

    .about .card.tow.p-4 {
        padding: 1rem !important;
    }
}

/* skills */
.skills .card img {
    width: 125px;
}

.skills .card h3 {
    color: var(--text);
}

/* business */
.business .card {
    height: 240px;
    border: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 8px var(--shadow);
}

.business .card::before {
    position: absolute;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--white);
    bottom: -10px;
    z-index: 10;
    background-color: #00000090;
    transition: 0.4s;
}

.business .card:hover::before {
    height: calc(20% + 10px);
}

.business .business-1::before {
    content: 'hotel';
}

.business .business-2::before {
    content: 'todo';
}

.business .business-3::before {
    content: 'food';
}

.business .business-4::before {
    content: 'protofailo';
}

/* contact */
.contact form label {
    color: var(--white);
}

.contact form textarea::placeholder,
.contact form input::placeholder {
    color: var(--white);
    color: var(--text);
}

.contact form textarea:focus,
.contact form textarea,
.contact form input:focus,
.contact form input {
    background-color: var(--eee);
    color: var(--white);
}

.contact .card {
    height: 50px;
    background-color: var(--eee);
    transition: 0.3s;
}

.contact .card:hover {
    transform: scale(1.07);
}

.contact .card.linkedin:hover {
    background-color: #0a66c2;
}

.contact .card.github:hover {
    background-color: #111;
}

.contact .card.instagram:hover {
    background-color: #e1306c;
}

.contact .card.facebook:hover {
    background-color: #1877f2;
}

.contact .card.youtube:hover {
    background-color: #ff0000;
}

.contact .card.download:hover {
    background-color: #17aeb4;
}

.contact .card a {
    text-decoration: none;
    color: var(--white);
}

/* footer */
footer p {
    color: var(--text) !important;
}